/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #2C5597;
    font-size: 1em;
    font-weight:700;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}
.x-tab-strip a, .x-tab-strip span, .x-tab-strip em 
{
    text-decoration:none;
}

p
{
    font-size: 1.1em;
    margin-bottom: 15px;
    line-height: 1.6em;
    text-align:justify;
    padding:0px 30px; 
}


/*      Seccion navegacion  
----------------------------------------------------------*/
#slideout {
	position:absolute;
	top:-2px;
	left: -4px;
	width: 80px;
	height: 20px;
	padding: 0;
	text-align: center;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

#slideout_inner {
	position:absolute;
	top: -41px;
	left: 3px;
	background-image: url("/Media/Image/Style/BTrans_grayS.png");
	width: 80px;
	padding: 5px;
	height: 40px;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	text-align:center;
	-webkit-border-radius: 0 0 5px 0;
	-moz-border-radius: 0 0 5px 0;
	border-radius: 0 0 5px 0;
}

#slideout:hover {
	top: 40px;
}

#slideout:hover #slideout_inner {
	top: -41px;
	z-index:3;
}

#slideout_inner img{
	float:left;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 800;
    padding: 5px;
    border-bottom:1px solid #4B6C9E;
    border-top:1px solid #4B6C9E;
    margin-bottom: 5px;
    margin-top: 5px;
    background:#EFF7FF;
    
}

h3
{
    font-size: 1.2em;
    color:#fff;
    background-color:#4B6C9E;
    border-bottom:2px solid #4B6C9E;
    border-top:2px solid #4B6C9E;
    margin-top: 2px;
}

h4
{
    font-size: 1.2em;
    font-weight:bold;
    padding:0px 25px;
    margin-bottom: 15px;
    margin-top: 35px;
}
h5
{
    font-size: 1.5em;
    font-weight:bold;
   padding: 5px;
    border-bottom:1px solid #4B6C9E;
    border-top:1px solid #4B6C9E;
    margin-bottom: 5px;
    margin-top: 5px;
    background:#EFF7FF;
    text-align:center;
}

h6
{
    font-size: 1em;
}

em
{
    font-size:1.1em;
    font-weight:800;
    font-style:italic;
    text-decoration:underline;
}
ul.sitemap
{
    list-style-type:none;
    text-align:justify;
    padding:0px 30px 0px 75px; 
    margin-bottom: 15px;
}
ul li ul
{
    list-style-type:disc ;
    text-align:justify;
    padding:0px 0px 0px 50px; 
    margin-bottom: 15px;
}
ul li ul li
{
    font-size:.80em;
}
li.titulo
{
     margin-bottom: 25px;
     font-size:1.3em;
     font-weight:600;
     color:#545454;
}
ul.x-tab-strip li 
{
    margin-bottom: 0px;
       
}
ol
{
    list-style-type:decimal;
    text-align:justify;
    padding:0px 30px 0px 75px; 
    margin-bottom: 15px;
}
ol.romano
{
    list-style-type:upper-roman;
    text-align:justify;
    padding:0px 30px 0px 75px; 
    margin-bottom: 15px;
}
li
{
     margin-bottom: 20px;
     font-size:1.1em;
     color:#343434;
}
dt.pregunta
{
    margin-top:30px;    
    font-size:1.2em;
    font-weight: bold;
    color: #4B6C9E;
    padding-left:20px;
}
dt
{
    font-size:1.1em;
    font-weight:500;
    color: #4B6C9E;
    padding-left:20px;
}
dd.pregunta
{
    font-style: italic;
    font-size: 1.1em;
    font-weight: 600;
    color: #404040;
    padding-left:50px;
}
dd
{
    font-style: italic;
    font-size:1.1em;
    font-weight: 500;
    color: #404040;
    padding-left:50px;
}




/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}
hr
{
    border:1px solid #4B6C9E;
}
#lbl_NumCot
{
    font-size:2em;
    font-weight:bold;
    color:#c0c0c0;
    
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
.title td
{
    padding:10px 20px 10px 20px;    
}  

.page
{
    width: 960px;
    background-color: #fff;
    margin: 0px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e url(/Media/Image/Buttons/beneficios_baner.jpg);
    width: 100%;
    height:90px;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}


.loginDisplay a
{
    border:none;
}
.loginDisplay a img
{
    border:none;
}

.x-form-item label.x-form-item-label {
    font-weight: 700;
    font-size: 14px;
}

.x-panel-tr {

    background-image: url("/Media/Image/Style/azul26px.jpg");
}

.x-date-middle, .x-date-left, .x-date-right {
    background-image: url("/Media/Image/Style/barra_azul.gif");
    color: #fff;
    font: bold 11px "sans serif", tahoma, verdana, helvetica;
}

.x-date-left a {
    background-image: url("/Media/Image/Style/arrow_left_blue.gif");
}

.x-date-right a {
    background-image: url("/Media/Image/Style/arrow_rigth_blue.gif");
}

.x-form-field-wrap .x-form-date-trigger {
    background-image: url("/Media/Image/Style/calendar_blue.gif");
}

.x-window-dlg .ext-mb-download 
{
    background : transparent url(/Media/Image/Style/loading.gif) no-repeat top left;
    height : 46px;
}

body.x-body-masked .x-window-plain .x-window-mc {
    background-color: #F5F5F5;
}
        
#Op1
{
    width: 290px;
    height: 100px;
    position:relative;
    top:0px;
    left:0px;
    border:1px dotted #f0f0f0;
    background:#f0f0f0;
}

#Op2
{
    width: 290px;
    height: 100px;
    position:relative;
    top:-100px;
    left:310px;
    border:1px dotted #f0f0f0;
    background:#f0f0f0;
}

#Op3
{
    width: 290px;
    height: 100px;
    position:relative;
    top:-200px;
    left:620px;
    border:1px dotted #f0f0f0;
    background:#f0f0f0;
}

#Op4
{
    width: 915px;
    height: 350px;
    position:relative;
    top:-190px;
    left:0px;
    border:1px dotted #f0f0f0;
    background:#f0f0f0;
}

.Seleccion
{
    width: 30px;
    height: 50px;
    position:relative;
    top: 250px;
    left:10px;
    border:1px dotted #f0f0f0;
}
.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 320px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}

.footer table
{
    margin: 0px auto;
    text-align: center;
    margin-bottom:10px;
}

.footer table th.Htop
{
        background: #4B6C9E url("/Media/Image/Style/azul30px.jpg");
        color:White;
        font-weight:bold;
        text-align: center;
        padding-top: 2px;
        padding-left: 15px;
        padding-bottom: 2px;
        padding-right: 15px;
        height: 25px;

}
.footer table th.foot
{
        background: #CCC url("/Media/Image/Style/gris30px.jpg");
        color:#141414;
        font-weight:bold;
        text-align: center;
        padding-top: 2px;
        padding-left: 15px;
        padding-bottom: 2px;
        padding-right: 15px;
        height: 25px;

}
.footer table tr.ft_bg
{
        background:#F9F0F9;
        color:#1F3D5C;
}
.footer table td
{
        width:350px;
}
.footer table tr td img
{
    border:0px;
}
#mfoot{
   
}
#mfoot ul{
    list-style-type:none;
}
#mfoot ul li a:hover{
    color:White;
}
#mfoot ul li a{
    font-size:12px;
    color:#336999;
    text-decoration:none;
    float:left;
    text-align:center;
    padding:auto auto;
    outline:none;
    width:158px;
    height:20px;
    margin:1px;  
}
#mfoot ul li a.big
{
     width:310px;
}

/* CONTROLES
----------------------------------------------------------*/
.centraCell
{
    margin:auto auto;
}


/* TABLAS  
----------------------------------------------------------*/
.TituloSite{ }
.TituloSite th
{
    width:450px;
    height:70px;
    border:none;
}
.TituloSite td
{
    width:20px;
    height:70px;
    margin: auto auto;
}



/* Especiales  
----------------------------------------------------------*/
.Validadores
{
    color:#CC0000;
    font-weight:bold ;
    font-style:italic;
    font-size:12px;
}

/* TAB MENU   
----------------------------------------------------------*/
div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.CenterIMG
{
    margin:auto auto;    
}
div.menu
{
    padding: 4px 0px 4px 8px;
    top:-20px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 10px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
    margin:auto auto;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
    border:none;
    text-decoration:none;
}

.loginDisplay a:visited
{
    color: white;
    border:none;
}

.loginDisplay a:hover
{
    color: white;
    border:none;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}